stages:
  - build
  - deploy

frontend-ap-docker-build:
  stage: build
  image: docker
  tags:
    - "frontend-ap"
  before_script:
    - chmod +x ./setup_env.sh
    - sh ./setup_env.sh
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY/arsanandha.ap/ap-frontend/ap-frontend:latest .
    - docker push $CI_REGISTRY/arsanandha.ap/ap-frontend/ap-frontend:latest

frontend-ap-k8s-apply:
  stage: deploy
  image: bitnami/kubectl:latest
  tags:
    - "frontend-ap"
  script:
    - kubectl apply -f $CI_PROJECT_DIR/frontend-deploy.yaml