version: '3.7'

networks:
  frontend-service:
    driver: bridge

services:
  frontend:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - frontend-service
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.arsanandha.rule=Host(`arsanandha.xyz`)"
      - "traefik.http.routers.arsanandha.entrypoints=https"
      - "traefik.http.routers.arsanandha.tls=true"
      - "traefik.http.routers.arsanandha.tls.domains[0].main=arsanandha.xyz"
      - "traefik.http.routers.arsanandha.tls.domains[0].sans=*.arsanandha.xyz"
      - "traefik.http.services.arsanandha.loadbalancer.server.port=3000"
      - "traefik.http.middlewares.arsanandha.headers.accesscontrolallowmethods=GET,OPTIONS,PUT"
      - "traefik.http.middlewares.arsanandha.headers.accesscontrolallowheaders=*"
      - "traefik.http.middlewares.arsanandha.headers.framedeny=true"
      - "traefik.http.middlewares.arsanandha.headers.browserxssfilter=true"
      - "traefik.http.middlewares.arsanandha.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.arsanandha.headers.sslRedirect=true"
      - "traefik.http.middlewares.arsanandha.headers.contentSecurityPolicy=default-src 'none';form-action 'none';frame-ancestors 'none';base-uri 'none'"
      - "traefik.http.middlewares.arsanandha.headers.addVaryHeader=true"
      - "traefik.http.middlewares.arsanandha.headers.referrerPolicy=same-origin"
      - "traefik.http.routers.arsanandha.middlewares=arsanandha@docker"