version: '3.7'

networks:
  frontend-service:
    driver: bridge

services:
  frontend:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - frontend-service
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.arsanandha.rule=Host(`arsanandha.xyz`)"
      - "traefik.http.routers.arsanandha.entrypoints=https"
      - "traefik.http.routers.arsanandha.tls=true"
      - "traefik.http.routers.arsanandha.tls.domains[0].main=arsanandha.xyz"